# generate client keys
---
- name: Copy openssl client extensions
  copy:
    src: openssl-client.ext
    dest: "{{ openvpn_key_dir }}"
    owner: root
    group: root
    mode: 0400

- name: Generate client key
  command: "openssl req -nodes -newkey rsa:{{ openvpn_rsa_bits }} -keyout {{ item.name }}.key -out {{ item.name }}.csr -days {{ openvpn_openssl_days }} -{{ openvpn_openssl_digest }} -subj /CN=OpenVPN-Client-{{ openvpn_server_hostname[:24] }}-{{  item.name[:24]  }}/"
  args:
    chdir: "{{ openvpn_key_dir }}"
    creates: "{{ item.name }}.key"
  with_items: "{{ openvpn_clients }}"

- name: Protect client keys
  file:
    path: "{{ openvpn_key_dir }}/{{ item.name }}.key"
    mode: 0400
    owner: root
    group: root
  with_items: "{{ openvpn_clients }}"

- name: Sign client key
  command: openssl x509 -req -in {{ item.name }}.csr -out {{ item.name }}.crt -CA ca.crt -CAkey ca-key.pem -{{ openvpn_openssl_digest }} -days {{ openvpn_openssl_days }} -extfile openssl-client.ext
  args:
    chdir: "{{ openvpn_key_dir }}"
    creates: "{{ item.name }}.crt"
  with_items: "{{ openvpn_clients }}"

- name: Register server ca key
  slurp:
    src: "{{ openvpn_key_dir }}/ca.crt"
  register: ca_cert

- name: Register tls-auth key
  slurp:
    src: "{{ openvpn_key_dir }}/ta.key"
  register: tls_auth

- name: Register client certs
  slurp:
    src: "{{ openvpn_key_dir }}/{{ item.name }}.crt"
  with_items: "{{ openvpn_clients }}"
  register: client_certs

- name: Register client keys
  slurp:
    src: "{{ openvpn_key_dir }}/{{ item.name }}.key"
  with_items: "{{ openvpn_clients }}"
  register: client_keys

- name: Generate client config
  template:
    src: client.ovpn.j2
    dest: "{{ openvpn_base_dir }}/{{ item.0.item.name }}-{{ openvpn_server_hostname }}.ovpn"
    owner: root
    group: root
    mode: 0400
  when: openvpn_clients is defined
  with_together:
    - "{{ client_certs.results }}"
    - "{{ client_keys.results }}"
  loop_control:
    label: "{{ item.0.item }}"

- name: Generate client config for ldap auth
  template:
    src: client.ovpn.j2
    dest: "{{  openvpn_base_dir  }}/generell-{{ openvpn_server_hostname }}.ovpn"
    owner: root
    group: root
    mode: 0400
  when: openvpn_ldap is defined

- name: Fetch client config
  fetch:
    src: "{{ openvpn_base_dir }}/{{ item.name }}-{{ openvpn_server_hostname }}.ovpn"
    dest: "/tmp/ansible/{{ item.name }}/{{ openvpn_server_hostname }}.ovpn"
    flat: yes
  when: openvpn_fetch_configs and openvpn_clients is defined
  with_items: "{{ openvpn_clients }}"

- name: Fetch public client config without certs
  fetch:
    src: "{{  openvpn_base_dir  }}/generell-{{ openvpn_server_hostname }}.ovpn"
    dest: "/tmp/{{ openvpn_server_hostname }}.ovpn"
    flat: yes
  when: openvpn_fetch_configs and openvpn_ldap is defined
