# {{ ansible_managed }}

port {{openvpn_port}}
{% if openvpn_dualstack %}
proto {{openvpn_proto}}6
{% else %}
proto {{openvpn_proto}}
{% endif %}
{% if openvpn_devtype is defined %}
dev-type {{ openvpn_devtype }}
dev {{ openvpn_dev }}
{% elif openvpn_use_bridge %}
dev tap
{% else %}
dev tun
{% endif %}

ca {{openvpn_key_dir}}/ca.crt
cert {{openvpn_key_dir}}/server.crt
key {{openvpn_key_dir}}/server.key
dh {{openvpn_key_dir}}/dh.pem
{% if openvpn_crl_path is defined %}
crl-verify {{openvpn_crl_path}}
{% endif %}
{% if openvpn_use_crl %}
crl-verify {{openvpn_key_dir}}/ca-crl.pem
{% endif %}
{% if openvpn_tls_auth_required %}
tls-auth {{openvpn_key_dir}}/ta.key 0
{% endif %}
tls-server
auth {{ openvpn_auth_hash_algo }}
cipher {{ openvpn_cipher }}
{% if openvpn_use_modern_tls|bool %}
{# Using Mozilla's modern cipher list + DHE for older clients #}
tls-version-min 1.2
{% if openvpn_tls_cipher is defined %}
tls-cipher {{ openvpn_tls_cipher|join(':') }}
{% endif %}
{% endif %}
{% if openvpn_duplicate_cn|bool %}
duplicate-cn
{% endif %}


{% if openvpn_server_network and not openvpn_use_bridge %}
server {{openvpn_server_network}} {{openvpn_server_netmask}}
{% if openvpn_server_ipv6_network is defined %}
server-ipv6 {{openvpn_server_ipv6_network}}
{% endif %}
{% endif %}
{% if openvpn_use_bridge %}
server-bridge {{ openvpn_bridge.gateway }} {{ openvpn_bridge.netmask }} {{ openvpn_bridge.dhcp_start }} {{ openvpn_bridge.dhcp_end }}
up up.sh
{% endif %}

{% if openvpn_topology is defined %}
topology {{openvpn_topology}}
{% endif %}
ifconfig-pool-persist ipp.txt
{% if openvpn_clients %}
client-config-dir {{ openvpn_base_dir }}/staticclients
{% endif %}

{% if openvpn_redirect_gateway|bool %}
push "redirect-gateway def1 bypass-dhcp"
{% endif %}
{% if openvpn_set_dns %}
{% for dns in openvpn_dns_servers %}
push "dhcp-option DNS {{ dns }}"
{% endfor %}
{%endif %}
{% if openvpn_push is defined %}
{% for opt in openvpn_push %}
push "{{ opt }}"
{% endfor %}
{% endif %}
keepalive 5 30
{% if openvpn_use_lzo %}
comp-lzo
{% endif %}
persist-key
persist-tun
user nobody
group nogroup

status openvpn-status.log
log-append /var/log/openvpn.log
verb 3

{% if openvpn_verify_cn|bool %}
verify-x509-name OpenVPN-Client-{{ openvpn_server_hostname[:24] }} name-prefix
remote-cert-tls client
{% endif %}

{% if openvpn_enable_management|bool %}
management {{openvpn_management_bind}}
{% if openvpn_management_client_user %}
management-client-user {{openvpn_management_client_user}}
{% endif %}
{% endif %}

{% if openvpn_ldap is defined|bool %}
### LDAP AUTH ###
plugin /usr/lib/openvpn/openvpn-auth-ldap.so "{{ openvpn_base_dir }}/auth/ldap.conf"
client-cert-not-required
{% endif %}
