#!/bin/sh
# {{ ansible_managed }}
brctl addbr {{ openvpn_bridge_dev }}; true
brctl addif {{ openvpn_bridge_dev }} {{ openvpn_dev }}; true
brctl addif {{ openvpn_bridge_dev }} {{ openvpn_interface }}; true
ip l set {{ openvpn_bridge_dev }} up;
ip l set {{ openvpn_dev }} up;
ip a r {{ openvpn_bridge.address }} dev {{ openvpn_bridge_dev }}; true
