#!/bin/sh
# {{ ansible_managed }}
brctl addbr {{ openvpn_bridge_dev }}; true
brctl addif {{ openvpn_bridge_dev }} {{ openvpn_dev }}; true
brctl addif {{ openvpn_bridge_dev }} {{ openvpn_interface }}; true
ip link set {{ openvpn_bridge_dev }} up;
ip link set {{ openvpn_dev }} up;
ip address replace {{ openvpn_bridge.address }} dev {{ openvpn_bridge_dev }}; true
